<h1>Listing drum_machines</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for drum_machine in @drum_machines %>
  <tr>
    <td><%=h drum_machine.name %></td>
    <td><%= link_to 'Show', drum_machine %></td>
    <td><%= link_to 'Edit', edit_drum_machine_path(drum_machine) %></td>
    <td><%= link_to 'Destroy', drum_machine, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New drum_machine', new_drum_machine_path %>
